
<div class="max-w-screen-lg bg-gradient-to-r from-indigo-500 to-blue-500 shadow-2xl rounded-lg mx-auto  py-16 px-10  flex justify-center items-center flex-col mt-12">
        <h3 class="text-3xl leading-9 font-bold tracking-tight text-white sm:text-4xl sm:leading-10 "></h3>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class:"text-white" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"block text-sm py-3 px-4 rounded-lg w-full border outline-none" %>
  </div>

  <div class="actions">
    <%= f.submit "Enviarme un email", class:"mt-9 py-4 w-64 text-xl text-white bg-purple-400 rounded-2xl mb-9" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>