<header class="min-w-full md:container md:mx-auto sticky">
		<nav class="bg-white shadow-lg">
			<div class="max-w-6xl mx-auto px-4">
				<div class="flex justify-between">
					<div class="flex space-x-7">
						<div class="flex flex-row items-center">
									<img src="https://repositorio-imagenes.netlify.app/img/logo512.png" alt="Logo" class="h-8 w-8 mr-2">
									<%= link_to "Agenda", root_path, class:"font-semibold text-gray-500 text-lg" %>	
							</div>
							<% if user_signed_in? %>
							<div class="hidden md:flex items-center space-x-1">
								<%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class:"py-4 px-2 text-gray-500  border-indigo-500 font-semibold hover:text-indigo-500" %>
							</div>
							<div class="hidden md:flex items-center space-x-1">
								<%= link_to "Perfil", edit_user_registration_path, class:"py-4 px-2 text-gray-500  border-indigo-500 font-semibold hover:text-indigo-500" %>
							</div>


							<% else %>



							<div class="hidden md:flex items-center space-x-1">
								<%= link_to "Registro", new_user_registration_path, class:"py-4 px-2 text-gray-500  border-indigo-500 font-semibold  hover:text-indigo-500 " %>
							</div>
							<div class="hidden md:flex items-center space-x-1">
								<%= link_to "Iniciar sesión", new_user_session_path, class:"py-4 px-2 text-gray-500  border-indigo-500 font-semibold hover:text-indigo-500" %>
							</div>


							<% end %>

					</div>

					<div class="md:hidden flex items-center">
						<button class="outline-none mobile-menu-button">
						<svg class=" w-6 h-6 text-gray-500 hover:text-indigo-500 "
							x-show="!showMenu"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							viewBox="0 0 24 24"
							stroke="currentColor"
						>
							<path d="M4 6h16M4 12h16M4 18h16"></path>
						</svg>
					</button>
					</div>
				</div>
			</div>

			<div class="hidden mobile-menu">
				<ul class="">
					<li class="active"><%= link_to "Registro", new_user_registration_path, class:"block text-sm px-2 py-4 text-white bg-indigo-500 font-semibold" %></li>
					<li class="active"><%= link_to "Iniciar sesión", new_user_session_path, class:"block text-sm px-2 py-4 text-white bg-indigo-500 font-semibold" %></li>

				</ul>
			</div>
			<script>
				const btn = document.querySelector("button.mobile-menu-button");
				const menu = document.querySelector(".mobile-menu");

				btn.addEventListener("click", () => {
					menu.classList.toggle("hidden");
				});
			</script>
		</nav>
</header>
